<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" data-ng-app="app">
<head>
    <title></title>
    <link href="../../bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />   
    <link href="../../Styles/DashBoard.css" rel="stylesheet" type="text/css" />

    <script src="../../JS/jquery.js" type="text/javascript"></script>   
    <script src="../../JS/Comman/angular.js" type="text/javascript"></script>    
    <script src="../../JS/app.js" type="text/javascript"></script>
    <script src="../../JS/main.js" type="text/javascript"></script>
    <script src="../../JS/DashBoard/CashCollectionSummaryCtrl.js" type="text/javascript"></script>
    <script src="../../bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>   
    
    <style rel="stylesheet" type="text/css">
        .glyphicon-arrow-right:before
        {
            content: "\e092";
        }
        #fifthdashboardtable
        {
            font-size: 12px;
            counter-reset: serial-number;
        }
        
        #fifthdashboardtable #serial:first-child:before
        {
            counter-increment: serial-number;
            content: counter(serial-number);
        }
        .fixed_headers thead tr th, .fixed_headers tbody tr td
        {
            padding: 2px;
            text-align: center;
        }
        
        .fixed_headers thead
        {
            background-color: #6b668c;
            color: #ffffff;
        }
        
     
    </style>
</head>
<body ng-controller="CMSSummaryDashBoardCtrl">

    <form name="fifthdashBoard">
    <input type="button" value="Sort" ng-click="Sorting()" />
    <a href="CashCollectionSummary.htm">Refresh</a>
    <label>App ID :</label>
      <select ng-model="appid">
      <option value="">--Select--</option>
      <option value="FINOMB">FINOMB</option>
      <option value="FINOMER">FINOMER</option>
      <option value="FINOMERNP">FINOMERNP</option>
      <option value="FINOTLR">FINOTLR</option>
    </select>     

    <div style="float:right;margin-bottom:10px;margin-right:10px">

     <label>Today :</label>
    <input type="checkbox" id="chktoday" ng-model="today"  ng-change="chgtoday(today)"; style="padding-right: 10px;margin-right:10px"/>

    <label>Start Time :</label>
     <select ng-model="STime" ng-change="changedStart(STime)" 
            data-ng-options="stime as stime.Time for stime in SelectTime">
      <option value="">Start Time</option>
    </select>
     {{stime.Time}}

     <label>End Time :</label>
     <select ng-model="ETime" ng-change="changedEnd(ETime)" 
            data-ng-options="etime as etime.Time for etime in SelectTime">
      <option value="">End Time</option>
    </select>
     {{etime.Time}}

      
    <input type="text" id="search_field" ng-model="search"  placeholder="Search Box"/>     
     </div>  
    </form>
    <div id="loader" style="display:none">       
    </div>    
    <table id="fifthdashboardtable" class="table table-stripped fixed_headers" style="padding:2px">
        <thead>
            <tr>
                <th>
                    Sr No.
                </th>
                 <th style="text-align: left">
                    App ID
                </th>
                <th style="text-align: left">
                    Transaction Type
                </th>
                <th>
                   Initiated
                </th>               
                <th>
                    Success
                </th>                
                <th>
                    Failed
                </th>                                          
            </tr>
        </thead>
        <tbody >                           
             <tr ng-repeat="data in resultValue=(Response | orderBy:sortType:sortReverse | filter:search | filter:appid)"> 
                <td id="serial"></td>
                <td style="text-align: left">{{data.appid}}</td>
                <td style="text-align: left">{{data.TransactionType}}</td>
                <td>{{data.Initiated}}</td>
                <td>{{data.Success}}</td>         
                <td>{{data.Failed}}</td>                                                                                                                                                                                                                                                                                                    
            </tr>  
            <tr>
            <td></td>
            <td></td>
            <td><b>All Total :</b></td>
            <td><b>{{resultValue | sumOfValue:'Initiated'}}</b></td>
            <td><b>{{resultValue | sumOfValue:'Success'}}</b></td>
            <td><b>{{resultValue | sumOfValue:'Failed'}}</b></td>
            </tr>                      
        </tbody>
    </table> 
</body>
</html>
