<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" data-ng-app="app">
<head>
    <title></title>
    <link href="../../bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />  
    <link href="../../Styles/DashBoard.css" rel="stylesheet" type="text/css" /> 

    <script src="../../JS/jquery.js" type="text/javascript"></script>   
    <script src="../../JS/Comman/angular.js" type="text/javascript"></script>    
    <script src="../../JS/app.js" type="text/javascript"></script>
    <script src="../../JS/main.js" type="text/javascript"></script>   
    <script src="../../JS/DashBoard/ESBFailed_Awaiting.js" type="text/javascript"></script>
    <script src="../../bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
        
    <style rel="stylesheet" type="text/css">      
        #sixthdashboardtable
        {
            font-size: 12px;
            counter-reset: serial-number;
        }
        
        #sixthdashboardtable #serial:first-child:before
        {
            counter-increment: serial-number;
            content: counter(serial-number);
        }
        .fixed_headers thead tr th, .fixed_headers tbody tr td
        {
            padding: 2px;
            text-align: center;
        }
        
        .fixed_headers thead
        {
            background-color: #6b668c;
            color: #ffffff;
        }
         .fixed_headers
        {
            width: 1100px;
            table-layout: fixed;
            border-collapse: collapse;
        }
        
        .fixed_headers tbody tr:nth-child(even)
        {
            background-color: #DCDCDC;
        }
        
        .fixed_headers td:nth-child(1), .fixed_headers th:nth-child(1)
        {
            min-width: 50px;
        }
        .fixed_headers td:nth-child(2), .fixed_headers th:nth-child(2)
        {
            min-width: 100px;
        }
        .fixed_headers td:nth-child(3), .fixed_headers th:nth-child(3)
        {
            min-width: 250px;
        }
         .fixed_headers td:nth-child(4), .fixed_headers th:nth-child(4)
        {
            min-width: 100px;
        }
        
    </style>
</head>
<body ng-controller="SixthDashBoardCtrl">
<div style="width:90%;margin:0px auto">
    <form name="fifthdashBoard">
    <input type="button" value="Sort" ng-click="Sorting()" />
    <a href="ESBFailed_Awaiting.htm">Refresh</a>

    <div style="float:right;margin-bottom:10px;margin-right:10px">
    <select id="dtime" ng-model="Time" ng-change="changedValue(Time)" 
            data-ng-options="item as item.Time for item in Option">
      <option value="">Last 2 Minute</option>
    </select>
     {{item.Time}}
      
    <input type="text" id="search_field" ng-model="search"  placeholder="Search Box"/>     
     </div>  
    </form>
    <div id="loader" style="display:none">       
    </div>    
    <br />
    <b>IMPS Failed</b>
    <table id="sixthdashboardtable" class="table table-stripped fixed_headers" style="padding:2px">
        <thead>
            <tr>
                <th>
                    Sr No.
                </th>
                <th style="text-align: left">
                    Bank Name
                </th>
                <th style="text-align: left">
                    Response Code
                </th>
                <th style="text-align: left">
                   Response Message
                </th>               
                <th>
                   Count
                </th>                                                                       
            </tr>
        </thead>
        <tbody>
         <tr ng-repeat="data in resultValue=(IMPSFailedResponse | orderBy:sortType:sortReverse | filter:search)">  
                               
                <td id="serial"></td>
                <td style="text-align: left">{{data.Bankname}}</td>
                <td style="text-align: left">{{data.RESPCODE}}</td>
                <td style="text-align: left">{{data.Response_Msg}}</td>
                <td>{{data.Count}}</td>                                                                                                                                                                                                                                                                                                                               
            </tr>     
            <tr>
            <td></td>
            <td></td>
            <td></td>         
            <td><b>Total Count :</b></td>           
            <td><b>{{resultValue | sumOfValue:'Count'}}</b></td>
            </tr>          
        </tbody>
    </table>      
    <br />
    <b>IMPS Awaiting</b>
    <table id="sixthdashboardtable" class="table table-stripped fixed_headers" style="padding:2px">
        <thead>
            <tr>
                <th>
                    Sr No.
                </th>
                 <th style="text-align: left">
                    Bank Name
                </th>
                <th style="text-align: left">
                    Response Code
                </th>
                <th style="text-align: left">
                   Response Message
                </th>               
                <th>
                   Count
                </th>                                                                       
            </tr>
        </thead>
        <tbody>
         <tr ng-repeat="data in resultValue=(IMPSAwaitingResponse | orderBy:sortType:sortReverse | filter:search)">                        
                <td id="serial"></td>
                <td style="text-align: left">{{data.Bankname}}</td>
                <td style="text-align: left">{{data.RESPCODE}}</td>
                <td style="text-align: left">{{data.Response_Msg}}</td>
                <td>{{data.Count}}</td>                                                                                                                                                                                                                                                                                                                               
            </tr> 
            <tr>
            <td></td>
            <td></td>
            <td></td>         
            <td><b>Total Count :</b></td>           
            <td><b>{{resultValue | sumOfValue:'Count'}}</b></td>
            </tr>               
        </tbody>
    </table>
    <br/>
    <b>Bene Verification Failed</b>
    <table id="sixthdashboardtable" class="table table-stripped fixed_headers" style="padding:2px">
        <thead>
            <tr>
                <th>
                    Sr No.
                </th>
                 <th style="text-align: left">
                    Bank Name
                </th>
                <th style="text-align: left">
                    Response Code
                </th>
                <th style="text-align: left">
                   Response Message
                </th>               
                <th>
                   Count
                </th>                                                                       
            </tr>
        </thead>
        <tbody>
         <tr ng-repeat="data in resultValue=(BeneFailedResponse | orderBy:sortType:sortReverse | filter:search)">                        
                <td id="serial"></td>
                <td style="text-align: left">{{data.Bankname}}</td>
                <td style="text-align: left">{{data.RESPCODE}}</td>
                <td style="text-align: left">{{data.Response_Msg}}</td>
                <td>{{data.Count}}</td>                                                                                                                                                                                                                                                                                                                               
            </tr> 
            <tr>
            <td></td>
            <td></td>
            <td></td>         
            <td><b>Total Count :</b></td>           
            <td><b>{{resultValue | sumOfValue:'Count'}}</b></td>
            </tr>               
        </tbody>
    </table>
    <br />
    <b>Bene Verification Awaiting</b>
    <table id="sixthdashboardtable" class="table table-stripped fixed_headers" style="padding:2px">
        <thead>
            <tr>
                <th>
                    Sr No.
                </th>
                 <th style="text-align: left">
                    Bank Name
                </th>
                <th style="text-align: left">
                    Response Code
                </th>
                <th style="text-align: left">
                   Response Message
                </th>               
                <th>
                   Count
                </th>                                                                       
            </tr>
        </thead>
        <tbody>
         <tr ng-repeat="data in resultValue=(BeneAwaitingResponse | orderBy:sortType:sortReverse | filter:search)">                        
                <td id="serial"></td>
                <td style="text-align: left">{{data.Bankname}}</td>
                <td style="text-align: left">{{data.RESPCODE}}</td>
                <td style="text-align: left">{{data.Response_Msg}}</td>
                <td>{{data.Count}}</td>                                                                                                                                                                                                                                                                                                                               
            </tr>   
            <tr>
            <td></td>
            <td></td>
            <td></td>         
            <td><b>Total Count :</b></td>           
            <td><b>{{resultValue | sumOfValue:'Count'}}</b></td>
            </tr>             
        </tbody>
    </table>
    </div>
</body>
</html>
