
    .textbox-control
    {
        border: 1px solid #848484;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 10px;
        outline: 0;
        height: 34px;
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
        color: #58666e;
    }
    
    
    .btn
    {
        /* just for this demo. */
        margin-top: 5px;
    }
    .btn-arrow-right, .btn-arrow-left
    {
        position: relative;
        padding-left: 7%;
        padding-right: 7%;
    }
    .btn-arrow-right
    {
        padding-left: 7%;
    }
    .btn-arrow-left
    {
        padding-right: 7%;
    }
    .btn-arrow-right:before, .btn-arrow-right:after, .btn-arrow-left:before, .btn-arrow-left:after
    {
        /* make two squares (before and after), looking similar to the button */
        content: "";
        position: absolute;
        top: 5px; /* move it down because of rounded corners */
        width: 22px; /* same as height */
        height: 22px; /* button_outer_height / sqrt(2) */
        background: inherit; /* use parent background */
        border: inherit; /* use parent border */
        border-left-color: transparent; /* hide left border */
        border-bottom-color: transparent; /* hide bottom border */
        border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
        -webkit-border-radius: 0px 4px 0px 0px;
        -moz-border-radius: 0px 4px 0px 0px;
    }
    .btn-arrow-right:before, .btn-arrow-right:after
    {
        transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
    .btn-arrow-left:before, .btn-arrow-left:after
    {
        transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
    }
    .btn-arrow-right:before, .btn-arrow-left:before
    {
        /* align the "before" square to the left */
        left: -11px;
    }
    .btn-arrow-right:after, .btn-arrow-left:after
    {
        /* align the "after" square to the right */
        right: -11px;
    }
    .btn-arrow-right:after, .btn-arrow-left:before
    {
        /* bring arrow pointers to front */
        z-index: 1;
    }
    .btn-arrow-right:before, .btn-arrow-left:after
    {
        /* hide arrow tails background */
        background-color: white;
    }
    
    .logo-m-h
    {
        height: 20%;
        width: 100%;
    }
    .logo-h
    {
        height: 70px;
        background-color:#858585;
    }
    .logo-r
    {
        
    }
   
    .last-upd
    {
        text-align: center;
    }
    .login-logo
    {
        border-bottom: 1px solid #3a8fc8;
         
    }
    .login-span
    {
      font-weight: bold;
      color: #286090;  
    }
    .login-sec
    {
        margin-top: 5%; 
        color: #58666e;
        font-weight: bold;
    }
    
    .btn-user
    {
        float: right; 
        margin-bottom: 4%;
         margin-right: 5%;
    }
    
   @media(max-width:400px){
  .btn-user {margin-left:5%;float:left;}
    }
    .virtualkbpos
    {
        float:right;margin-top:-7%;
    }
    .user-cen
    {
        margin-top: 27px; 
        color: #58666e; 
        font-weight: bold;
    }
    .dis-user
    {
        margin-left:12px;
    }
    .btn-pre
    {
       margin-left:5%; 
       margin-bottom:1%;
    }
    @media(max-width:400px){
    .btn-pre
        {
        float:left; 
        margin-left:6%;
        margin-bottom:1%;
        }
    }
    .btn-sub
    {
        float: right; 
        margin-right:4%;
        margin-bottom:1%;
    }
    @media(max-width:400px){
    .btn-sub
        {
        float:right; 
        margin-right:6%;
        margin-bottom:1%;
        }
    }
    .tbl-brdcolr
    {
        background-color: White;
    }
    .foot-m-b
    {
        margin-bottom: 1%;
    }
    .foot-m-3
    {
        margin-bottom: 3px;
    }
    .notice-impor
    {
        text-align: center; 
        vertical-align: middle;
         padding: 1%;
    }
    .notice-marqu
    {
        text-align: justify;
        
    }
    .notice-para
    {
        padding-left:5%;
         padding-right:5%;
    }
    .foot-posi
    {
       position: fixed;
        bottom: 0px;
    }
    
   .logoLogin-bg{
  background: url(../../img/login_bg.png)  no-repeat;
  /*background-color: #413b6b;*/
  background-size: cover;
  padding: 0px 0px 15px;
  width: 100%;
}