<?xml version="1.0"?>
<configuration>
  <connectionStrings>           
    <!--Replication Server BETA-->
    <!--<add name="FinoPaymentLogConnString1" connectionString="XOHKVO/7prB/naRH1cjCXKdSoie3ur8Fzb3bRI2n0cPOuHAp1Fpt3aXAlGOrAHHgcxFzIbNWyo3iRPL7Vu3UUM+KtgYOHrHKqq3zWFwDYvIPEdSW7fe0JMSyug4QUq0LhK/dR8PeCXdY0E19qeZyCiosnj1JeTGoJCpI3gKicIEZHgkg5ntHJPSrIrFxwtfmlz/IPWGjGFgvmNbmfEAWlSbSwrNbBwDtX9oKQEBJ4CRnyH/zJgITdhPv4mkoGU5I4C/mfIVbCcPRb9No0xP0dFGX8ueeTNjP5R/tXKR9Mn4V2rL/xglLhi9l/LRpWyzS" />
    <add name="FinoPaymentConfigurationConnString1" connectionString="XOHKVO/7prB/naRH1cjCXKdSoie3ur8Fzb3bRI2n0cPOuHAp1Fpt3aXAlGOrAHHgcxFzIbNWyo3iRPL7Vu3UUOltcuuzUdH35rE2PF53kNzV4ZEL3JRpILwB/jum4rxco/GUB5MYVOko9hwVSYpq29vZFzi1PuTJRqElrZAXtAB1dGlRLGiUaXAjQbTA1bA/S21nhdPBOLICK10Agte1ifslvH9u/xlwgHCdRbBEKeIZ7G0ZgAdMYBDDs4C5cvnI95cpug1Cn+yJFHHpE6EuD1qhtCiGuwu9oUNUZrgYPYPNrNNXvV5jcCMYZAcejsTTAeFtgkB0QmyYBrYFlhVnyA==" />
    <add name="FinoPaymentMastersConnString1" connectionString="XOHKVO/7prB/naRH1cjCXKdSoie3ur8Fzb3bRI2n0cPOuHAp1Fpt3aXAlGOrAHHgcxFzIbNWyo3iRPL7Vu3UUO45c0LAnOglydtVIH+UDj+07MPhF2SqC0tThhb2Prw8jR0zFRfRZhs92Iw+TfjuJCf9bbaYjoDPAH5WeW5v9BOdlwbtxzpZEqFXhJdHBPkf44q8BX1IP+BEBLt72koxyJ7tJ7i0zN+5LxLCgEhWiH2DB5/N4NCZL3NHsO1JeeRWTzuADeyiKGbhjST5wPzzkdGJgqOlXuA15Vvvb/N8vZqm555kyzDzcqW/AOHMVD9q" />
    <add name="ESBTransactionConnString" connectionString="server=10.71.93.25,14325;Database=ESB_Transactions;Persist Security Info=True;uid=r_teller_prd;password=Sql@replteller2016;"/>-->

    <!--POC-->
    <add name="FinoPaymentLogConnString" connectionString="XOHKVO/7prB/naRH1cjCXGLR4R8bEANG/9y6jUaNXegBEXa3mVptPXkgK28SakVMaRC+atZlnDRhfNPLz2Aof2bjIEK20DHJ16kY2zYZCfZbcPavKq2pZb9AscdsCgi+KmHuJ2h5eiDeHTCJdJ51edqnY9LGH1dYA/nll3/rGdT5jJQ/6jfTjEizm1k3t5sS/4B4J9h+qU/HevJL7IVrf4yVE14NW8SlAb2y7q9peiRbr/X3kasEvzS9BLp+sFMmdnYoTpCCjUCYS95596lFuyDlt0fOJtZqbWTzNHNJbKBiTkpk3nHuVKAtWtOpteVw"/>
    <add name="FinoPaymentConfigurationConnString" connectionString="XOHKVO/7prB/naRH1cjCXGLR4R8bEANG/9y6jUaNXegBEXa3mVptPXkgK28SakVMaRC+atZlnDRhfNPLz2Aof8umaHSdYwI2dwnMaT6v6lqmQcuO6fulX/4aWZaEmMB114EYsG/Xi2UAd/+EFWVg4qS4TpKP1VmPcO6V6wrbR9Xb2GvglhsGygKlVsoZ1+LLZ2qpK1FCmM6VqKI4OSk8r7eI/n0IzI5cprkv5UBtoDv/QCGHWprUrD6yRDC+ssDZOEnb1DJSIvzE4Mq21Ar01n/IiPPd4oq1wAT56IJoUmPxbDKPXZNmDotYYPbcEcwA/uifvcKFNqELLNGP/mYHEw=="/>
    <add name="FinoPaymentMastersConnString" connectionString="XOHKVO/7prB/naRH1cjCXGLR4R8bEANG/9y6jUaNXegBEXa3mVptPXkgK28SakVMaRC+atZlnDRhfNPLz2Aof8XWTUR6hecoSVPlaukck41y6hE0FjN5HOn9eQ4XwBUjX3T/eW9DirFCilFe1yNGUQtTG0cnHeA8EC3Xfm4p/ClHDAfIJGnaF1k1c3lPSP137z/zMFHbPNCxHQfvzQAeePPEuNUsmx2xxFW0BlttzGc92s/VmdMYWjV1VBeskgs2+jO0oH5KtarzmHWXPpTd6sXjTw/JycyG6bX8mHPv57OBm3GjBTre5yM+NUhJmEyi"/>
    <add name="ESBTransactionConnString" connectionString="server=10.71.36.25,14325;Database=ESB_Transactions;Persist Security Info=True;uid=r_report_poc;password=Sql@finoPBreport;"/>
    <add name="PBBCAPIConnString" connectionString="server=10.71.36.25,14325;Database=PBBC_API;Persist Security Info=True;uid=r_report_poc;password=Sql@finoPBreport;"/>
    <add name="ESB_NPCIConnString" connectionString="server=10.71.36.25,14325;Database=ESB_NPCI;Persist Security Info=True;uid=r_report_poc;password=Sql@finoPBreport;"/>
    <add name="LogTransactionConnString" connectionString="server=10.71.36.34,15946;Database=PBLOGS;Persist Security Info=True;uid=r_report_poc;password=Sql@finoPBreport;"/>
    <add name="DMSConnString" connectionString="server=10.15.2.137;Database=SERVOSTREAMS_UAT;Persist Security Info=True;uid=a_dms_uat;password=Sql@fino2016;"/>
    <add name="FINOPBAUAConnString" connectionString="server=10.71.36.25,14325;Database=FINO_PB_AUA;Persist Security Info=True;uid=r_report_poc;password=Sql@finoPBreport;"/>
    <add name="COLAConnString" connectionString="server=10.71.36.34;Database=PBCOLA;Persist Security Info=True;uid=r_pbcola_prd;password=Sql@Fino2019;"/>
    <add name="LoginConnString" connectionString="server=10.15.15.120;Database=PBMaster;Persist Security Info=True;uid=a_devcomdb_prd;password=Sql@admin;"/>
    
    <!--<add name="DMSConnString" connectionString="server=10.15.0.219;Database=SERVOSTREAMS;Persist Security Info=True;uid=a_dms_uat;password=Sql@fino2016;"/>-->
    <!--<add name="DMSConnString" connectionString="server=10.15.2.137;Database=SERVOSTREAMS_UAT;Persist Security Info=True;uid=a_dms_uat;password=Sql@fino2016;"/>-->

    <!--UAT Connection String-->
    <!--<add name="FinoPaymentLogConnString1" connectionString="server=10.15.15.120;Database=PBLOGS;Persist Security Info=True;uid=a_devcomdb_prd;password=Sql@admin;"/>
    <add name="LogTransactionConnString" connectionString="server=10.15.15.120;Database=PBLOGS;Persist Security Info=True;uid=a_devcomdb_prd;password=Sql@admin;"/>
    <add name="FinoPaymentConfigurationConnString1" connectionString="server=10.15.15.120;Database=PBConfiguration;Persist Security Info=True;uid=a_devcomdb_prd;password=Sql@admin;"/>
    <add name="FinoPaymentMastersConnString1" connectionString="server=10.15.15.120;Database=PBMaster;Persist Security Info=True;uid=a_devcomdb_prd;password=Sql@admin;"/>    
    <add name="FinoPaymentFPRepositoryConnString1" connectionString="server=10.15.15.120;Database=PBFPRespository;Persist Security Info=True;uid=a_devcomdb_prd;password=Sql@admin;"/>
    <add name="FinoPaymentTransactionInfoConnString1" connectionString="server=10.15.15.120;Database=PBTransactionInfo;Persist Security Info=True;uid=a_devcomdb_prd;password=Sql@admin;"/>-->        
    <!--UAT Connection String-->

    <!--DR Connection String--><!--
    <add name="FinoPaymentLogConnString1" connectionString="XOHKVO/7prB/naRH1cjCXBlZGtO1c8CmDMfXMfUOR8UyFSfMG47MXvIQngEBBFTRtValP84sodU2jfoYX2BYM1UUz6IW6HCxdTxA7R5sRVYXdKi7mWLf4+TCplt2kq+/ourUZY+lADw4hFpu/O/OAZoefKdKzYsl2fPvP4Omusld8tlkaU6w7TuVQmlya6NmguvGPQnYwiYYea+u9TVvSoada8kSftZxqHTLoMnQUVIsdo/Lj+WiFinMHgUSVnr+HhhLud+zZCtg8p8soFKf1wF2iEZytW/mj7nwBg0X8us="/>
    <add name="FinoPaymentConfigurationConnString1" connectionString="XOHKVO/7prB/naRH1cjCXBlZGtO1c8CmDMfXMfUOR8V8v5qPZCwLFU89d/82xTVnHS7frWfP6gImfMTW1s9Nucv7DvNTAzZwBEYOcImxmKhCTdOvUrAi0SzYe6PljYuwwbXetYeWuKNEApr3/cW0j+dmalxilYvnmoDMx1YmMP4QS8Wn82ier/eCgmvcBpLLlfZ+1DaNLe5wT2yqaCLYFJbyWNL4kES7R8itRi0+lHab7MgkoVmQ/Vnhszfxmu3La92AZNzBHcN1Y08AbFaZxY1aklJfbJ/d8dFXwmvYU1vJ9K58cfdfb7VhUUSKoQ5o"/>
    <add name="FinoPaymentMastersConnString1" connectionString="XOHKVO/7prB/naRH1cjCXBlZGtO1c8CmDMfXMfUOR8V8v5qPZCwLFU89d/82xTVnHS7frWfP6gImfMTW1s9Nub0T0mJMhdKI/FYbdgn6zS9xd0XTNfrEdlrePMLhdaGZcfg3OH1eKh/6Ycj7EW+LS0eyb7YysNZ8QRbgtrWH2mcSIuH3p1X6tT0W5QApQddEG0A9kkro6liX1PlEDXQ2B2kK23rB9zU6ecHVoQgFWP30l1BPeZck5ZEFTJ+R6kCidqMuJg8EMgtLYN/VaUqAnS8si8d90NE0FBDHbnuWX3fbjk+dckEWA7I4QDfYG5cQ"/>
    <add name="ESBTransactionConnString" connectionString="server=10.72.93.173,15936;Database=ESB_Transactions;Persist Security Info=True;uid=rw_esb_prod;password=Sql@fino2016;"/>
    <add name="FinoPaymentFPRepositoryConnString" connectionString="XOHKVO/7prB/naRH1cjCXBlZGtO1c8CmDMfXMfUOR8WeMvg4OIqBMcQy8RopA93sclm4UZvFkbFBObt3a6wrd2AAuauXzUCTHXwpo32nTzUd+8zusiTqeEs1/2otZZtoOmV3Z8LWRE2lKlycjB9lk5mburqI2mmU29Sq1e0QRnGAmOZTrT2S3+usUK+Q6I10Rt0Ca50oZNarpbGHbFqC/UnHXADfnSTOWyQNmAKu2wWBuZoIKEDmmoR9rLw9FW51P0+utusozN+lGN1wkCgYGiQkwDt3sm0dKx4VosTDxACu54vdmUJ4KacS9E9QBYy9"/>
    <add name="FinoPaymentTransactionInfoConnString" connectionString="XOHKVO/7prB/naRH1cjCXBlZGtO1c8CmDMfXMfUOR8V8v5qPZCwLFU89d/82xTVnHS7frWfP6gImfMTW1s9NuaD5Jx4vUSKqysE99p3iwrB/5iO+sZSuIBSzNzV2/EoyYUjRzmpI2nnmHLZI9ugNyoTDu0rcbnaH7QNjT0wgL6P/P77oreDR+Rwxz737S5j9bTV23/7kCXYQU5BYIMhXb6OcK4kCsksFLdet8hqr1Dnm2VAAj6ryR0q8J0FZNW/L8HM11KYHQtakWo2OQRr1FqBSKwPQvfE67AorfeFlS8O2shwSk9r0SYFiOrp7d+xJbwgtgqrjrmnZ4CHlcXX+lw=="/>
    <add name="LogTransactionConnString" connectionString="server=10.72.93.14,15936;Database=PBLOGS;Persist Security Info=True;uid=a_pblog_poc;password=Sql@logpoc2016"/>
    --><!--DR Connection String-->
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="ByCache" value="2" />
    <add key="IsSession" value="2" />
    <add key="Priority" value="5"/>
    <add key="LogWriteType" value="ALL"/>
    <add key="LogWriteIntervalPeriod" value="15"/>
    <add key="isRequestResponseWrite" value="False"/>
    <add key ="CacheServerPort" value ="11222"/>
    <add key ="CacheServerName" value ="10.15.20.210:11222;10.15.20.211:11222;10.15.20.212:11222"/>
    <add key ="CacheSessionContainerName" value ="SessionDataCache"/>
    <add key ="CacheMasterContainerName" value ="MasterDataCache"/>
    <add key ="CacheTransactionContainerName" value ="TransactionDataCache"/>
    <add key ="MasterConnStringKey" value ="APPUAT2SFINO28211"/>
    <add key ="EncryptDecryptKey" value ="MONITORINGPBDASHBOARD555"/>
    <add key ="ExpiryTime" value ="30"/>    
    <add key ="KibanaLogURL" value="http://10.15.0.227:81/esb/transaction/kafka/log"/>
    <add key ="MessagesByCache" value="2"/>
    <add key ="ESBCBSMessagesByCache" value="2"/>
    <add key ="TimeInterval" value="-15"/>
    <add key ="AEPSClientID" value="8,43,19,26,45,47,49"/>
    <add key ="AEPSClientName" value="Iserveu,SpiceMoney,Levinm,Digital India,RNFI,Oriel,Rapipay"/>
    <add key ="ClientID" value="7,8,13,15,17,19,18,20,24,25,28,26,29,42,33,43,41,31,45,44,40,47,48,50,51,52,53,56,57,62,67"/>
    <add key ="ClientName" value="EKO,IServu,Ezypay,Appnittech,InstantPay,Levinm,BankIT,EzSpend,DGRPAY,Shingrapay,Payworld,Digital-India,VKVenture,Mobisafar,Indepay,SpiceMoney,MinksPay,Swatantra,RNFI,NOVO,ROKAD,ORIEL,Triotech,Jalpa-Dawar,Spay-Mobile,IZS_Techocrats_Pvt_Ltd,AIMRA-Corporation-Pvt,MV_E-Commerce,Manifest,Relevan-Pay,XP-Communications"/>
    <add key ="PCODE" value="EKO,ISU,INST,EZY,APN,LEVI,BankIT,EZSP,GEE,SHGP,PAYW,DI,VKV,MOB,MOBI,INDP,MINK,SPCM,SPCMI,SWT,RNFI,NOVO,NOVOI,RKD,ORIL,TRIO,JLPD,SPYM,IZST,AIMR,MVEC,MANI,RNTP,XPCS"/>
    <add key ="PCODEName" value="EKO,ISRVU,INST,EZY,APN,LEVI,BankIT,EZSP,DGRPAY,SHGP,PAYW,Digital-India,VKVenture,Mobisafar,Mobisafar,Indepay,MinksPay,SpiceMoney,SpiceMoney,SWT,RNFI,NOVO,NOVO,ROKAD,ORIEL,Triotech,Jalpa-Dawar,Spay-Mobile,IZS_Techocrat_ Pvt_Ltd,AIMRA-Corporation-Pvt,MV_E-Commerce,Manifest,Relevan-Pay,XP-Communications"/>
    <add key="ResponseMessage" value="'Session Expired.','Server not responding! Please try again later','Contract Error','The remote server returned an error: (504) Gateway Timeout.','The remote server returned an error: (503) Server Unavailable.','The remote server returned an error: (502) Bad Gateway.','The remote server returned an error: (500) Internal Server Error.','The remote server returned an error: (401) Unauthorized.','Unable to connect to the remote server','Error Occured'"/>
    <add key="ResponseMessage1" value="Session Expired.,Server not responding! Please try again later,Contract Error,The remote server returned an error: (504) Gateway Timeout.,The remote server returned an error: (503) Server Unavailable.,The remote server returned an error: (502) Bad Gateway.,The remote server returned an error: (500) Internal Server Error.,The remote server returned an error: (401) Unauthorized.,Unable to connect to the remote server,Error Occured"/>
    
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="DELETE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DashboardAppService" name="DashboardApplication.DashboardAppService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="DashboardApplication.IDashboardAppService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="FPBInbox">

        </binding>
      </webHttpBinding>
    </bindings> 

    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DashboardAppService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" httpHelpPageEnabled="false" httpsHelpPageEnabled="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
